<?xml version='1.0' encoding='utf-8'?>
<Configuration>
  <Database>
    <ConnectionString>server=172.16.16.72; user id=sa;database=EDC_DB;</ConnectionString>
    <Query>
      SELECT TOP 100
       *
      FROM
       M商品基本
      WHERE
       削除FLG = 0
    </Query>
  </Database>
  <Output>
    <Folder>./output/</Folder>
  </Output>
  <Email>
    <To>t-okita@netoffice.obisan.co.jp</To>
    <From>t-okita@netoffice.obisan.co.jp</From>
    <SmtpServer>mss290.kagoya.net</SmtpServer>
    <SmtpPort>587</SmtpPort>
    <SmtpUser>t-okita</SmtpUser>
    <SmtpPassword>cthUVpPB1x</SmtpPassword>
  </Email>
</Configuration>

